* {
    box-sizing: border-box;
 } 
 html, body { 
    margin: 0; 
    padding: 0; 
} 
body { 
    background-color: #000;
    
}
.alert {
    color: #fff;
    background: linear-gradient(90deg,#800080,#0000FF);
}
    #landing-greeting {
  font-size: 3rem;
  background: linear-gradient(135deg, #0000FF, #fff,#0000FF,#800080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: cursive;
}
.logo {
    margin-left: 15vw;
    width: 70vw;
    height: 40vh;
    background-position: center ;
    background-size: cover;
    object-fit: center;
}
#aka {
    font-size: 1.7rem;
    font-family: cursive;
    background: linear-gradient(90deg,#0000FF,#fff,#800080);
    -webkit-background-clip: text;
    color: transparent;
}

.gallery-img {
    
 
  margin: 0.4rem;

    
border: 1.5px solid white ;
border-radius: 9px;
}
.images {
    column-count: 2;
}
#small {
height: 28vh;   
width: 50vw;
background-position: center ;
    background-size: cover;
    object-fit: cover;
}
    

#medium {
    height: 40vh;
    width: 50vw;
background-position: center;
background-size: cover;
object-fit: cover;
}
    
    

#large {
    height: 45vh;
    width: 50vw;
    
background-position: center;
background-size: cover;
object-fit: center;

    
}
.shops {
display: flex; 
justify-content: flex-start; 
gap: 10px;
}
.wrap {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}


